.mainHead{
	margin-top:240px;
	font-size: 40px;
	font-family: 'Cinzel', serif;
}

.downloadbtn{
	height:50px;
	margin-top: 10px;
	font-size: 25px;

}

td{
	text-align: center;

}

button{
	font-size: 120px;
	font-style: bold;
}

span center{

	margin-top: 20px; 
	font-size: 40px;
	font-family: 'Cinzel', serif;
}


*{
	font-family: 'Source Sans Pro', sans-serif;
}